[Unit]
Description=SCADA Web Dashboard (Flask HMI)
Documentation=https://github.com/AkashKS04/mini-scada
# Start after network AND after the data collector is running
After=network.target scada-client.service
Requires=scada-client.service

[Service]
# Where your project lives
WorkingDirectory=/home/akash/mini-scada

# What to run
ExecStart=/usr/bin/python3 /home/akash/mini-scada/app.py

# Restart automatically if it crashes
Restart=always
RestartSec=5

# Run as your user, never as root
User=akash

# Log stdout and stderr to journald
StandardOutput=journal
StandardError=journal

# Give it a unique syslog identifier (for journalctl filtering)
SyslogIdentifier=scada-dashboard

[Install]
WantedBy=multi-user.target
